.heading {
  color: #2d2d2d;
  font-size: 11vw;
  text-align: center;
  font-weight: 600;
}

.subhead {
  text-align: center;
  color: #2d2d2d;
  font-size: 3vw;
  font-weight: 600;
  margin-top: 1em;
}

@media screen and (max-width: 1630px) {
  .heading {
    font-size: 15vw;
  }
  .subhead {
    text-align: center;
    color: #2d2d2d;
    font-size: 4vw;
    font-weight: 600;
    margin-top: 1em;
  }
}

.projectsheading {
  margin-top: 5vw;
}

@media screen and (max-width: 860px) {
  .heading {
    font-size: 18vw;
  }
  .subhead {
    text-align: center;
    color: #2d2d2d;
    font-size: 5vw;
    font-weight: 600;
    margin-top: 1em;
  }
}

@media screen and (max-width: 560px) {
  .heading {
    font-size: 20vw;
  }

  .subhead {
    text-align: center;
    color: #2d2d2d;
    font-size: 6vw;
    font-weight: 600;
    margin-top: 1em;
  }
}
