@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

.bigpp {
  /* display: flex */
  font-size: 4vw;
  color: #2d2d2d;
  margin-bottom: 1em;
  text-align: center;
  font-family: "Lora", serif;
}

@media screen and (max-width: 1092px) {
  .bigpp {
    /* display: flex */
    font-size: 5vw;
    color: #2d2d2d;
    margin-bottom: 1em;
    text-align: center;
    font-family: "Lora", serif;
  }
}

@media screen and (max-width: 724px) {
  .bigpp {
    /* display: flex */
    font-size: 6vw;
    color: #2d2d2d;
    margin-bottom: 1em;
    text-align: center;
    font-family: "Lora", serif;
  }
}
