.conatcthead {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.15em;
  color: #2d2d2d;
  font-size: 8vw;
  font-family: "Lora", serif;
  font-weight: bold;
}

.socialico {
  text-align: center;
  color: #2d2d2d;
  font-size: 2.5em;
  margin-bottom: 1em;
}

.socialset {
  margin-left: 0.5em;
  margin-right: 0.5em;
  transition: 0.2s;
}

.socialset:hover {
  color: white;
  transition: 0.2s;
}

@media screen and (max-width: 1630px) {
  .conatcthead {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.15em;
    color: #2d2d2d;
    font-size: 8.8vw;
    font-family: "Lora", serif;
    font-weight: bold;
  }

  .socialico {
    text-align: center;
    color: #2d2d2d;
    font-size: 2.3em;
    margin-bottom: 1em;
  }

  .socialset {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

@media screen and (max-width: 1344px) {
  .conatcthead {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.15em;
    color: #2d2d2d;
    font-size: 9.5vw;
    font-family: "Lora", serif;
    font-weight: bold;
  }

  .socialico {
    text-align: center;
    color: #2d2d2d;
    font-size: 2.2em;
    margin-bottom: 1em;
  }

  .socialset {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

@media screen and (max-width: 1174px) {
  .conatcthead {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.15em;
    color: #2d2d2d;
    font-size: 10.7vw;
    font-family: "Lora", serif;
    font-weight: bold;
  }

  .socialico {
    text-align: center;
    color: #2d2d2d;
    font-size: 2.15em;
    margin-bottom: 1em;
  }

  .socialset {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

@media screen and (max-width: 1174px) {
  .conatcthead {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.15em;
    color: #2d2d2d;
    font-size: 6.5em;
    font-family: "Lora", serif;
    font-weight: bold;
  }

  .socialico {
    text-align: center;
    color: #2d2d2d;
    font-size: 1.95em;
    margin-bottom: 1em;
  }

  .socialset {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

@media screen and (max-width: 786px) {
  .conatcthead {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.15em;
    color: #2d2d2d;
    font-size: 12vw;
    font-family: "Lora", serif;
    font-weight: bold;
  }

  .socialico {
    text-align: center;
    color: #2d2d2d;
    font-size: 3.8vw;
    margin-bottom: 1em;
  }

  .socialset {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

@media screen and (max-width: 560px) {
  .conatcthead {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.15em;
    color: #2d2d2d;
    font-size: 14vw;
    font-family: "Lora", serif;
    font-weight: bold;
  }

  .socialico {
    text-align: center;
    color: #2d2d2d;
    font-size: 4.8vw;
    margin-bottom: 1em;
  }

  .socialset {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}

@media screen and (max-width: 450px) {
  .conatcthead {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.15em;
    color: #2d2d2d;
    font-size: 19vw;
    font-family: "Lora", serif;
    font-weight: bold;
  }

  .socialico {
    text-align: center;
    color: #2d2d2d;
    font-size: 5.5vw;
    margin-bottom: 1em;
  }

  .socialset {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
