@import url("https://fonts.googleapis.com/css2?family=Syne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html,
body {
  background-color: #d4d0c9;
  box-sizing: border-box;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.syne {
  font-family: "Syne", sans-serif;
}

.lora {
  font-family: "Lora", serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

div {
  padding: 0px;
}

.heading {
  color: #2d2d2d;
  font-size: 11vw;
  text-align: center;
  font-weight: 700;
}

.otheading {
  color: #2d2d2d;
  font-size: 11vw;
  text-align: center;
  font-weight: 700;
  margin-top: -5.3vw; /* -5.3vw */
}

.subheading {
  color: #2d2d2d;
  font-size: 3.3333333333333335vw;
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
  /* margin-top: -5vw; */
}

.skilled {
  font-family: "Great Vibes", cursive;
  text-align: center;
  font-size: 4.5333333333333335vw;
  margin-top: 3vw;
}

.skills {
  text-align: center;
  font-family: "Syne", sans-serif;
  font-size: 1.8vw;
  margin-top: 0vw;
}

::-moz-selection {
  /* Code for Firefox */
  color: #d4d0c9;
  background: #2d2d2d;
}

::selection {
  color: #d4d0c9;
  background: #2d2d2d;
}

/*
Header Css
*/

.header {
  font-family: "Syne", sans-serif;
  overflow: hidden;
  padding: 20px 10px;
  margin-bottom: 2vw;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 1.5vw;
  line-height: 25px;
  animation: colorchange 10s infinite;
  border-radius: 4px;
}

.header a.logo {
  font-size: 2vw;
  font-weight: bold;
}

.header a:hover {
  text-decoration: underline;
  font-weight: 500;
  color: white;
}

.header a.active {
  text-decoration: underline;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    /* float: none; */
    display: block;
    text-align: left;
  }

  .header-right {
    float: right;
  }
}

@media screen and (max-width: 1630px) {
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 2vw;
    line-height: 25px;
    animation: colorchange 10s infinite;
    border-radius: 4px;
  }

  .header a.logo {
    font-size: 2.5vw;
    font-weight: bold;
  }
}

@media screen and (max-width: 1216px) {
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 2.5vw;
    line-height: 25px;
    animation: colorchange 10s infinite;
    border-radius: 4px;
  }

  .header a.logo {
    font-size: 3vw;
    font-weight: bold;
  }
}

@media screen and (max-width: 858px) {
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 3.5vw;
    line-height: 25px;
    animation: colorchange 10s infinite;
    border-radius: 4px;
  }

  .header a.logo {
    font-size: 4vw;
    font-weight: bold;
  }
}

@media screen and (max-width: 558px) {
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 5.5vw;
    line-height: 25px;
    animation: colorchange 10s infinite;
    border-radius: 4px;
  }

  .header a.logo {
    font-size: 5.7vw;
    font-weight: bold;
    margin-top: -0.12em;
  }
}

/*
Header Css End
*/
@media screen and (max-width: 1630px) {
  .heading {
    font-size: 15vw;
  }
  .otheading {
    font-size: 15vw;
    /* margin-top: -17vw; */
  }
  .subheading {
    font-size: 4.666666666666667vw;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .skilled {
    font-family: "Great Vibes", cursive;
    text-align: center;
    font-size: 5.3vw;
    margin-top: 3vw;
  }

  .skills {
    text-align: center;
    font-family: "Syne", sans-serif;
    font-size: 2vw;
    margin-top: 0vw;
    margin-bottom: 2vw;
  }
}

.projectsheading {
  margin-top: 5vw;
}

@media screen and (max-width: 860px) {
  .heading {
    font-size: 18vw;
  }
  .otheading {
    font-size: 18vw;
    /* margin-top: -20vw; */
  }
  .subheading {
    font-size: 5.666666666666667vw;
    margin-left: 1vw;
    margin-right: 1vw;
  }
  .skilled {
    font-family: "Great Vibes", cursive;
    text-align: center;
    font-size: 9.5vw;
    margin-top: 3vw;
  }

  .skills {
    text-align: center;
    font-family: "Syne", sans-serif;
    font-size: 3vw;
    margin-top: 0vw;
  }
}

@media screen and (max-width: 560px) {
  .heading {
    font-size: 20vw;
  }
  .otheading {
    /* margin-top: -22vw; */
    font-size: 20vw;
  }
  .skilled {
    font-family: "Great Vibes", cursive;
    text-align: center;
    font-size: 14vw;
    margin-top: 5vw;
  }

  .skills {
    text-align: center;
    font-family: "Syne", sans-serif;
    font-size: 5vw;
    margin-top: 0vw;
  }
}

@media screen and (max-width: 560px) {
  .subheading {
    font-size: 5.866666666666667vw;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
  }
}
