@import url("https://fonts.googleapis.com/css2?family=Syne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

html,
body {
  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.syne {
  font-family: "Syne", sans-serif;
}

.lora {
  font-family: "Lora", serif;
}

div {
  padding: 0px;
}
.heading {
  font-size: 11vw;
  text-align: center;
  font-weight: 700;
}

.otheading {
  font-size: 11vw;
  text-align: center;
  font-weight: 700;
  margin-top: -5.3vw;
}

.subheading {
  font-size: 3.3333333333333335vw;
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
  /* margin-top: -100px; */
}

::-moz-selection {
  /* Code for Firefox */
  color: #ffffff;
  background: #000000;
}

::selection {
  color: #ffffff;
  background: #000000;
}

@media screen and (max-width: 1630px) {
  .heading {
    font-size: 15vw;
  }
  .otheading {
    font-size: 15vw;
  }
  .subheading {
    font-size: 4.666666666666667vw;
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@media screen and (max-width: 860px) {
  .heading {
    font-size: 18vw;
  }
  .otheading {
    font-size: 18vw;
  }
  .subheading {
    font-size: 5.666666666666667vw;
    margin-left: 1vw;
    margin-right: 1vw;
  }
}

@media screen and (min-width: 560px) {
  .heading {
    font-size: 18vw;
  }
  .otheading {
    font-size: 18vw;
  }
  .subheading {
    font-size: 6.666666666666667vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }
}
