@import url("https://fonts.googleapis.com/css2?family=Cute+Font&family=Open+Sans&display=swap");

/* .HeadingText {
  color: #fe213d;
  font-family: "Cute Font", cursive;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

.SubText {
  color: #000000;
} */
